body {
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

.flex-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; 
  align-items: flex-start;
}
  
  .note-sheet {
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .note-book {
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .note-book:hover {
    color: #6f7985;
    cursor: auto;
}
  
  .note-sheet-emo-channel {
    background-color: #e1f5fe;
  }
  
  .note-sheet-key-channel {
    background-color: #fff9c4;
  }

  
  .note-sheet-trans-channel {
    background-color: #c8e6c9; 
  }

  
  .note-text {
    margin: 0;
    font-size: 16px;
    color: #333;
  }

  .pen-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }


  .pen-icon {
    font-size:50px;
    color: #06203c;
}

